@use 'base/variables'as v;
@use 'base/mixins'as m;

.Modal {

	&_background {
		position: fixed;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&_content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 2rem;

		color: v.$blue;
		background-color: v.$white;
		width: 40rem;
		height: 20rem;
		padding: 1rem 2rem 6rem 2rem;
		border-radius: .5rem;

		@include m.phone {
			width: 90%;
		}

		&_header {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			padding-bottom: 1rem;
			border-bottom: 1px solid v.$whiteDarken;

			& .Item_close {
				color: v.$blue;
			}
		}

		&_body {
			margin: 0;
			width: 100%;
			display: flex;
			justify-content: center;

			#addBar {
				width: 100%;

				& .addBar_input {
					@include m.phone {
						width: 90%;
					}
				}
			}
		}
	}
}