@use 'base/variables' as v;
@use 'base/mixins'as m;

.TodoCounter {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	padding: 0 25px;
	background-color: v.$blue;
	color: v.$blueLighten;
	user-select: none;
	width: 60.8rem;

	@include m.desktop {
		width: 100%;
	}
	@include m.tablet {
		width: 100%;
	}
	@include m.phone {
		font-size: 12px;
	}

	&_selector {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		& .active {
			color: v.$white;
		}
		&:hover {
			cursor: pointer;
		}
	}
}