@use 'base/variables'as v;
@use 'base/mixins' as m;

.RightPanel {
	z-index: 0;
	right: -5%;
	position: fixed;
	background-color: v.$white;
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	@include m.tablet {
		position: absolute;
		width: 100%;
		right: 0%;

		&_toggle {
			width: 5.2rem;
			display: flex;
			justify-content: center;
			& .switch_text {
				display: none;
			}
		}
	}
	@include m.hidePc {
		&_toggle {
			display: none;
		}
	}

	&_filter {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 30%;
		width: 100%;
		background-color: v.$blue;
		padding: 2rem;

		&_text {
			color: v.$white;
			font-weight: 600;
			margin-bottom: 56px;
		}
	}

	&_todos {
		padding: 70px 0;

		@include m.desktop {
			width: 60%;
		}
		@include m.tablet {
			width: 95%;
		}
		

		&_placeholder {

			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 10rem;

			& p {
				color: v.$whiteDarken;
				font-size: 2rem;
				font-weight: bold;
			}
		}
	}

	&_footer {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		width: 153.5px;
		height: 44px;
		margin-top: 2rem;

		background: v.$blue;
		border-radius: 20px 20px 0px 0px;

		&_icon {
			fill: v.$white;
		}
	}
}