@use 'base/variables' as v;
@use 'base/mixins' as m;

.Result {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	& ul {
		margin: 0;
		padding: 0;

		height: 400px;
		overflow-y: auto;
	}
	&_list {
		width: 100%;
	}
}