@use 'base/variables'as v;
@use 'base/mixins'as m;

.RightPanel {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 0;
	padding: 40px 40px;
	width: 50%;
	height: 100vh;

	background: v.$white;
	box-shadow: 39px 0px 100px rgba(0, 0, 0, 0.2);
	border-radius: 0px 40px 40px 0px;

	@include m.tablet {
		display: none;
	}

	&_header {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}

	&_menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		&_text {
			display: flex;
			flex-direction: column;
			text-align: center;
			margin-top: 240px;
			margin-bottom: 92px;
			color: v.$blue;

			& h1,
			h3 {
				margin: 0;
				padding: 0;
			}

			& h1 {
				font-size: 3rem;
				font-weight: 400;

				@include m.desktop {
					font-size: 2.5rem;
				}
			}

			& h3 {
				font-size: 1.8rem;
				font-weight: 200;
				font-style: italic;

				@include m.desktop {
					font-size: 1.4rem;
				}
			}
		}
	}

	&_waves {
		position: absolute;
		bottom: -10px;
		width: 100%;

		& img {
			width: 100%;
			border-radius: 0 0 40px 0;
		}
	}
}