@use 'base/variables' as v;

.switch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 170px;

	font-family: 'Inter', sans-serif;
	font-weight: bold;

	& label {
		font-size: 1.6rem;
		color: v.$blue;
	}

	&_input {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 30px;

		& input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}

	&_slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 8px;
		right: 0;
		bottom: 0;
		background-color: v.$blue;
		-webkit-transition: .4s;
		transition: .4s;

		&:before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 3px;
			bottom: 2px;
			background-color: v.$white;
			-webkit-transition: .4s;
			transition: .4s;
		}
	}

	/* Rounded switch_sliders */
	&_slider.round {
		border-radius: 34px;
	}

	&_slider.round:before {
		border-radius: 50%;
	}
}

input {
	&:checked+.switch_slider {
		background-color: v.$blueLighten;

		&:before {
			-webkit-transform: translateX(20px);
			-ms-transform: translateX(20px);
			transform: translateX(20px);
		}
	}

	&:focus+.switch_slider {
		box-shadow: 0 0 1px v.$blueLighten;
	}
}