@use 'base/variables'as v;

.dark {
	& .LeftPanel {
		background-color: v.$dark;

		&_header .switch label {
			color: v.$blueLighten;
		}


		&_menu_text {
			color: v.$white;
		}

		&_waves {
			& img {
				content: url(../../assets/WavesDark.png);
			}
		}
	}

	#addBar {
		.addBar {
			&_input {
				background-color: v.$white;
			}

			&_button {
				background-color: v.$darkLighten;
				color: v.$blueLighten;
			}
		}
	}

	.RightPanel {
		background-color: v.$dark;

		&_filter {
			background-color: v.$darkLighten;

			&_text {
				color: v.$blueLighten;
			}
		}

		&_footer {
			background: v.$gDark;

			&_icon {
				fill: v.$blueLighten;
			}
		}
	}

	.Item {
		background-color: v.$darkLighten;

		&:hover {
			filter: brightness(95%);
		}

		&_check {

			& label {
				border: 1px solid v.$blueLighten;

				&::after {
					border: 2px solid v.$darkLighten;
					border-top: none;
					border-right: none;
				}
			}


			& input[type="checkbox"] {

				&:checked+label {
					background-color: v.$blueLighten;
					border-color: v.$blueLighten;
				}
			}
		}
	}

	.TodoCounter {
		background-color: v.$darkLighten;

		&_selector {
			& .active {
				color: v.$whiteDarken;
			}
		}
	}

	.switch {
		&_slider {
			border: 1px solid v.$blueLighten;
		}
	}

	.CreateButton {
		background-color: v.$darkLighten;
	}

	.Modal {
		&_content {
			background-color: v.$dark;

			&_header {
				& .Item_close {
					color: v.$white;
				}
			}
		}
	}
}