@use 'variables'as v;

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  scrollbar-width: thin;
  scrollbar-color: v.$blue;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: v.$whiteDarken;
}

*::-webkit-scrollbar-thumb {
  background-color: v.$blueLighten;
  border-radius: 9px;
  border: 1px none #ffffff;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
}

main {
  display: flex;
  height: 100%;
}