/****** GLOBALS COLORS ******/
$blueLighten: #8C94B4;
$blue: #3A5AB9;
$purple:#4B2EAE;
$darkLighten: #25273C;
$dark: #1C1933;
$white: #F7F7F7;
$whiteDarken: #E0E0E0;


/****** GRADIENTS *****/
$gLigth:linear-gradient(180deg, #5F688A 0%, #232B48 100%);
$gDark: radial-gradient(50% 50% at 50% 50%, #181629 0%, #151423 100%);
$darkLighten: linear-gradient(180deg, #1C1933 0%, #161424 100%);